extends S0-Base.pug

block content
  p 親愛的#{consultantName}顧問您好：
  p 很遺憾您於#{month}月#{date}日#{hour}時#{min}分時段的諮詢已被學生取消，我們感到萬般抱歉。取消的諮詢細節如下：
  ul(style="list-style-type: none; padding-left: 0; margin: 0; margin-bottom: 12px;")
    li(style="padding-left: 0; margin-left: 0;") 諮詢編號：#{meetindId}
    li(style="padding-left: 0; margin-left: 0;") 諮詢顧問：#{consultantName} 顧問
    li(style="padding-left: 0; margin-left: 0;") 諮詢學生：#{studentName} 同學
    li(style="padding-left: 0; margin-left: 0;") 諮詢時間：#{month}月#{date}日#{hour}時#{min}分時段
  p 由於學生於諮詢日期的兩天內取消訂單，我們將給付您35％的顧問費作為補償，我們感到萬分抱歉！
  p 若您有任何問題，歡迎隨時與我們聯絡。謝謝！
  p 敬祝 安康#[br]Arctics團隊 敬上